body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:hsl(0, 0%, 8%);
    color:white;
    height:100vh;
    margin:0;
    padding:0;
}

.container{
    display:flex;
    flex-direction: column;
    height:auto;
    justify-content: center;
    align-items:center;
    max-width: 275px;
    width:100%;
    background-color: hsl(0, 0%, 12%);
    
}





.attribution { 
    font-size: 11px; 
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: flex-end;

}
.attribution a { color: hsl(228, 45%, 44%); }